@media screen and (min-width: 1920px) and (max-width: 4500px) {

    .firstsection{
        width: 100%;
        height: 1550px;
        position: relative;
        }
        
        .informacion{
            width: 698px;
        height: 246px;
        background-color: #FFF;
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
        border-radius: 15px;
        position: absolute;
        top: 10%;
        left: 15%;
        justify-content: center;
        }
        
        #info{
            color: #000;
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            position: absolute;
            top: 2%;
            left: 15%;
            width: 698px;
        
        }
        
        
        .caracteres{
            display: flex;
            justify-content: center;
        align-items: center;
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        
        }
        
        .caracteres p{
            margin: 10px 20px;
            width: 100px;
        }
        
        .caracteristicas{
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        
        }
        
        .caracteristicas p{
             margin: 10px 20px;
             width: 100px;
        }
        
        .iconos{
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        
        .iconos img{
        margin: 0px 20px;
        width: 100px;
        }
        
        .infoicon{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .infoicon p{
            color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        margin: 5px 20px;
        width: 100px;
        
        }
        
        
        .historial{
        position: absolute;
        width: 698px;
        height: 616px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        top: 28%;
        left: 15%;
        
        
        }
        
        #historialdelauto{
            color: var(--color-raddva, #6248FF);
        text-align: center;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        }
        
        .segmento1{
          position: absolute;
          left: 10%;
          top: 10%;
          color: #000;
        
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        
        }
        
        .segmento2{
            position: absolute;
            right: 10%;
            top: 10%;
            color: #000;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        
        }
        .segmento1 p{
            margin: 10px;
            
        }
        
        .segmento2 p{
            margin: 10px;
        }
        
        #valordelmercado{
            color: var(--color-raddva, #6248FF);
            font-family: Roboto;
            font-size: 25px;
            font-style: normal;
            position: absolute;
            top: 48%;
            left: 25%;
            
        
        }
        
        .caja1{
            position: absolute;
            top: 60%;
            left: 20%;
        
        }
        
        .inclinada{
            position: absolute;
            top: 60%;
            left: 18%;
        }
        
        .rectalinea{
            position: absolute;
            top: 85%;
            left: 15%;
        }
        
        .precios{
            position: absolute;
            top: 58%;
            left: 9%;
        }
        
        .precios p{
            color: #000;
        font-family: Roboto;
        font-size: 7px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 15px 20px;
        }
        
        
        .rayas{
            position: absolute;
            top: 84%;
            left: 11%;
        }
        
        .rayas svg{
            margin: 0px 60px;
        }
        
        .añoinclinado{
            display: flex;
            position: absolute;
            top: 90%;
            left: 5%;
        }
        
        .añoinclinado p{
            margin: 0px 60px;
        
            color: #000;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transform: rotate(-30.968deg);
        
        }
        
        #cerca{
        
            color: #000;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        right: 24%;
        top: 6%;
        width: auto;
        margin: 0;
        }
        
        .cerca img{
            object-fit: cover;
            width: 539px;
        height: 334px;
        }
        
        .cerca{
            position: absolute;
        top: 10%;
        right: 15%;
        
        }
        
        .fondo1{
            position: absolute;
            top: 30%;
            left: 20%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo1{
            position: absolute;
            top: 30%;
            left: 20%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        .fondo2{
            position: absolute;
            top: 40%;
            left: 34%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
         
        }
        .fondo3{
            position: absolute;
            top: 80%;
            left: 25%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
         
        }
        
        .fondo4{
            position: absolute;
            top: 16%;
            left: 45%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo5{
            position: absolute;
            top: 60%;
            left: 80%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo6{
            position: absolute;
            top: 10%;
            left: 67%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo7{
            position: absolute;
            top: 35%;
            left: 58%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo8{
            position: absolute;
            top: 80%;
            left: 67%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        }
        
        .fondo9{
            position: absolute;
            top: 55%;
            left: 50%;
            width: 39px;
        height: 14px;
        background: #000;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
          
        }
        
        form{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 40%;
            right: 15%;
            color: #000;
        
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30.5px; /* 203.333% */
        letter-spacing: -0.075px;
        }
        
        #Nombre{
            width: 544px;
            height: 57px;
            border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.50);
        }
        
        #Telefono{
            width: 544px;
            height: 57px;
            border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.50);
        }
        
        #correo{
            width: 544px;
            height: 57px;
            border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.50);
        }
        
        #mensaje{
            width: 544px;
            height: 57px;
           
        border: 1px solid rgba(0, 0, 0, 0.50);
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        
        }
        
        #input{
            width: 346px;
        height: 45px;
        border-radius: 20px;
        background: var(--color-raddva, #6248FF);
        border: none;
        color: #fff;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        align-self: center;
        margin: 20px;
        
        }
        #contacta{
            color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        right: 31%;
        top: 35%;
        }

.opcionessimilares{
    width: 1200px;
    height: 400px;
    position: absolute;
   
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto{
    width: 337px;
height: 231px;
background: #FFF;
filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
margin: 20px;
border-radius: 10px;

flex-direction: column;
}

.auto1 img{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.auto2 img{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.auto3 img{
    object-fit: cover;
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#valor{
    color: black;
    font-family: roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: auto; /* 305% */
    letter-spacing: -0.05px;
    margin-top: 3px;
    margin-bottom: 5px;
    }
    
    #especificaciones{
       
        
        color: #000;
    font-family: roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: auto; /* 381.25% */
    letter-spacing: -0.04px;
    margin-top: 3px;
    margin-bottom: 5px;
    
    }
    #vendidoPor{
       
    color: #949AAF;
    font-family: roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: auto; /* 435.714% */
    letter-spacing: -0.035px;
    margin-top: 3px;
    margin-bottom: 3px;
    }
    #masDetalles{
        
        margin: 5px 5px;
        align-self: flex-end;
        width: 90px;
    height: 29px;
    border-radius: 10px;
    background-color: #6248FF;
    border: none;
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 9px;
    font-family: roboto;
    
    
    }
#opciones{
    color: #000;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%,-50%);
}
    }

